<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
               class="sidenav mat-elevation-z12 jav-navy-400"
               fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar class="jav-navy-400 mat-elevation-z2">
      <img class="logo"
           alt="javangular"
           src="assets/logo.svg" />
      <span class="logo-title">Javangular</span>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item>
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <a matLine
           href="#">Dashboard</a>
      </mat-list-item>
      <mat-list-item class="active">
        <mat-icon mat-list-icon>group</mat-icon>
        <a matLine
           href="#">Usuários</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!--perfectScrollbar-->
    <div class="wrapper-header">
      <mat-toolbar class="jav-navy-50 nav-toolbar mat-elevation-z2">
        <button type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="toggleSidebar()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span *ngIf="isHandset$ | async">javangular</span>
      </mat-toolbar>
    </div>
    <div class="wrapper"
         perfectScrollbar>
      <app-dashboard></app-dashboard>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
