@import '@javangular/scss/javangular';

$jav-white: (
  500: white,
  contrast: (
    500: $dark-primary-text
  )
);

$jav-black: (
  500: black,
  contrast: (
    500: $light-primary-text
  )
);

$jav-navy: (
  50: #ececee,
  100: #c5c6cb,
  200: #9ea1a9,
  300: #7d818c,
  400: #5c616f,
  500: #3c4252,
  600: #353a48,
  700: #2d323e,
  800: #262933,
  900: #1e2129,
  A100: #c5c6cb,
  A200: #9ea1a9,
  A400: #5c616f,
  A700: #2d323e,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);

$jav-green: (
  50: #f0f9e7,
  100: #daf0c3,
  200: #c2e79b,
  300: #aadd72,
  400: #97d554,
  500: #85ce36,
  600: #7dc930,
  700: #72c229,
  800: #68bc22,
  900: #55b016,
  A100: #edffe3,
  A200: #ceffb0,
  A400: #aeff7d,
  A700: #9eff63,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$javangular-primary: mat-palette($jav-navy);
$javangular-accent: mat-palette($jav-green, A200, A100, A400);
$javangular-warn: mat-palette($mat-red);
$javangular-theme: mat-light-theme($javangular-primary, $javangular-accent, $javangular-warn);
@include angular-material-theme($javangular-theme);

// color classes for primary, accent and warn colors
$default-palettes: (
  primary: $javangular-primary,
  accent: $javangular-accent,
  warn: $javangular-warn
);

$custom_palettes: (
  jav-white: $jav-white,
  jav-black: $jav-black,
  jav-navy: $jav-navy
);

@include color-classes($default-palettes);
@include color-classes($custom_palettes);

// -----------------------------------------------------------------------------------
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
